* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.head {
    font-size: 70px;
    font-weight: 600;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    /* linear-gradient(to left, #553c9a, #b393d3); */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

p {
    font-size: 20px;
    margin-bottom: 5px;
}

.statistic {
    font-size: 20px;
    margin-bottom: 5px;
}

.h {
    font-size: 40px;
    font-weight: 600;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    /* linear-gradient(to left, #553c9a, #b393d3); */
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

ul {
    list-style-type: none;
    padding: 0;
}

.a {
    font-size: 20px;
    margin-bottom: 5px;
    color: #007bff;
    text-decoration: none;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
}

.input {
    border-radius: 5px;
    /* border: none; */
    font-size: 18px;
}

.input {
    border: 1px solid #ccc;
    padding: 5px;
}

/* .footer {
  background-color: #f5f5f5;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
} */