<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Peoples</title>
</head>
<body>
    <h1>Hey, it's XP ex about peoples</h1>
        <ul>{% for item in people %}
                <li>{{ item.name }}
                    {{ item.age }}
                    {{ item.country }}</li>
            {% endfor %}
        </ul>
</body>
</html>