.grid {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.first {
  /*float: left;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  height: 300px;
  /* width: 100px; */
  text-align: center;
  /* align-self: flex-start; */
}

.box1 {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.box2 {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.box3 {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.box4 {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.second {
  display: flex;
  flex-direction: row;
  /* height: 300px; */
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  flex-grow: 1;
  justify-self: stretch;
  border: 1px solid black;
}

.box5 {
  background-color: yellow;
  border: 1px solid black;
  /* align-self: flex-end; */
  width: 50px;
  height: 50px;
}

.box6 {
  background-color: yellow;
  border: 1px solid black;
  /* align-self: flex-start; */
  width: 50px;
  height: 50px;
}

.box7 {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.box8 {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.third {
  /*float: right;*/
  /* align-self: flex-end; */
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  text-align: center;
  border: 1px solid black;

}

.box9 {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.box10 {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.box11 {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.box12 {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
