.card{
    background-color: white;
    border-radius: 5px;
    border: 1px solid  black;
    padding-inline: 1em;
    margin-bottom: 1em;
    max-width: 300px;
    margin-inline: auto;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.card h2, .card h3{
    margin-top: 1em;
    margin-bottom: 1em;
}

.card:hover{
    opacity: 1;
    scale: 1.1;
}

.card h2{
    font-size: 0.9rem;
    color: grey;
    font-weight: bold;
}

.title{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.title i{
    font-size: 0.8rem;
}