{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'specstyle.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'compstyle.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'projstyle.css' %} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {%endblock title%}</title>
</head>
<body>
    {%block content%}
    {%endblock content%}
    <!-- <script src={% static "script.js" %} charset="utf-8"></script> -->
</body>
</html>