{%extends 'base.html'%}
{%load static%}
{%block css%}
    <link rel="stylesheet" type="text/css" href={% static 'compstyle.css' %} />
{%endblock css%}
{% if user.is_authenticated or user.is_superuser %}
    {%block title%}Manager{%endblock title%}
    {%block content%}
        <h1 class="head">{{company.name}}</h1>
            <p>Address: <a class="a" href="{{ company.address }}" target="_blank">{{ company.address }}</a></p>
            <p>Total Paid Amount: {{total_paid_amount}}</p>
            <p>Rest of Money: {{ rest_of_money }}</p>

        <h2 class="project">Projects</h2>
            <ul>
                {% for project in projects %}
                    <li><a class="a" href="{% url 'project' project.id %}">{{ project.name }}</a></li>
                {% endfor %}
            </ul>
    {%endblock content%}
{%endif%}