{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href={% static 'style.css' %} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
  </head>
  <body>
    <div class="container">
      <form class="form" id="form" method="POST" name="form">
        {% csrf_token %}
        <div class="access">
          <h1>Log In</h1>
          <input type="text" class="name" id="name" name="name" value="" />
          <br /><br />
          <input type="text" class="password" id="password" name="password" value=""/>
          <br /><br />
          <button type="sybmit" class="logIn" id="logiN">Log In</button>
        </div>
      </form>
    </div>
    <script src={% static "script.js" %} charset="utf-8"></script>
  </body>
</html>
