{%extends 'base.html'%}
{%load static%}
{% if user.is_authenticated or user.is_superuser %}
    {%block title%}Project{%endblock title%}
    {%block content%}
        <h1 class="head">{{ project.name }} </h1>
            <p>Start Date: {{ project.date_start }}</p>
            <p>End Date: {{ project.deadline }}</p>
            <p>Total Hours: {{ total_hours }}</p>
            <p>Difference in Hours: {{ difference_hours }}</p>

        <h2 class="h">Works</h2>
            <ul>
                {% for work in works %}
                    <li class="statistic">{{ work.title }} - {{ work.hour }} hours</li>
                {% endfor %}
            </ul>

        <h2 class="h">Add Work</h2>
            <form method="POST" action="{% url 'project' project.id%}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button" type="submit">Add Work</button>
            </form>

        <h2 class="h">Check SEO result</h2>
            <div>
                <input class="input" type="text" id="search-input" placeholder="Enter search request">
                <button class="button" id="search-button">Search</button>
            </div>
        <div id="seo-result">
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src={% static "SEOscript.js" %} charset="utf-8"></script>
    {%endblock content%}
{%endif%}