{% extends 'base.html' %} {% block title %} Films {% endblock title %} 
{% block content %} {% if user.is_authenticated %}
<h1>FILMS</h1>
<ul>
  {% for film, comment_form in films_comments %}
  <br />
  <h2>{{ film }}</h2>
  <li>
    <h4>Available in countries</h4>
    {% for country_available in film.available_in_countries.all %} {{country_available }} {% endfor %}
  </li>
  <li>
    {% for category in film.category.all %}
    <h4>Categories</h4>
    {{ category }} {% endfor %}
  </li>
  <li>
    {% for director in film.director.all %}
    <h4>Directors</h4>
    {{ director }} {% endfor %}
  </li>

  <form method="post">
    {% csrf_token %} {{ comment_form }}
    <button type="submit">Post comment</button>
  </form>

  {% if user.is_authenticated and user.is_superuser %}
  <p><a href="{% url 'film-delete' film.pk %}">Delete</a></p>
  {%endif%} {% endfor %}
</ul>
{% else %}
<p>Please <a href="{%url 'login'%}">login</a> to view the list of films.</p>
{% endif %} {% endblock %}
