<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anml</title>
</head>
<body>
    <h1>YO, it's next ex about animals!</h1>
    <p>
            here is {{ animal.name }}
            and it {{ animal.legs }} legs, {{ animal.weight }} kilos, {{ animal.height }} meters, {{ animal.speed }} km per hour, {{ animal.family}} family
    </p>    
</body>
</html>